<!--  -->
<launch>

    <!-- ========= Bagplayer ========== -->
    <arg name="use_bag" default="true"/>
    <arg name="bagname" default="/home/razlaw/bags/human_pose_tracking/2020-10-07_multiperson_3Dpose_out.bag"/>
    <arg name="rate" default="1"/>
    <arg name="start" default="0"/>

    <node if="$(arg use_bag)" pkg="rosbag" type="play" name="play"
          args="--clock -r $(arg rate) -s $(arg start) $(arg bagname)" output="screen" respawn="false">
        <!--remap from="/velodyne_points" to="/velodyne_points_frombag" /-->
        <!--<remap from="/tf" to="/tf_frombag" />-->
    </node>

    <param if="$(arg use_bag)" name="/use_sim_time" value="true"/>

    <!-- ============= Rviz / rqt =============  -->
    <arg name="use_rqt" default="false"/>
    <node unless="$(arg use_rqt)" name="rivz" pkg="rviz" type="rviz"
          args="-d $(find multi_hypothesis_tracking)/launch/human_tracking.rviz"/>
    <node if="$(arg use_rqt)" name="rqt_gui" pkg="rqt_gui" type="rqt_gui" output="screen" required="true" args=""/>


    <include file="$(find multi_hypothesis_tracking)/launch/multi_human_tracking.launch">
        <arg name="world_frame_id" value="base"/>
    </include>

</launch>