<!-- -*- mode: XML -*- -->
<!-- run multi_hypothesis_tracking/multi_hypothesis_tracking_node_for_human_poses in a node -->

<launch>
    <!-- Node Parameters -->
    <arg name="input_topic" default="/human_pose_estimation/persons3d_fused"/>
    <arg name="world_frame_id" default="world"/>
    <arg name="measure_processing_time" default="false"/>

    <!-- Multi Hypotheses Tracker Parameters -->
    <arg name="use_bhattacharyya_instead_of_euclidean_distance_for_assignments" default="false"/>
    <arg name="max_correspondence_distance_for_assignments" default="0.5"/>
    <arg name="distance_threshold_for_hypotheses_merge" default="0.5"/>
    <arg name="kalman_process_noise_covariance_per_second" default="0.3"/>
    <arg name="maximally_allowed_hypothesis_covariance" default="5.0"/>

    <!-- Visualizer/Publisher Parameters -->
    <arg name="hypothesis_age_threshold_in_seconds" default="0.0"/>
    <arg name="number_of_assignments_threshold" default="7"/>
    <arg name="time_offset_for_predictions" default="0.05"/>

    <node pkg="multi_hypothesis_tracking" type="multi_hypothesis_tracking_node_for_human_poses"
          name="multi_hypothesis_tracking_node_for_human_poses" output="screen">

        <param name="input_topic" value="$(arg input_topic)"/>
        <param name="world_frame_id" value="$(arg world_frame_id)"/>
        <param name="measure_processing_time" value="$(arg measure_processing_time)"/>

        <param name="use_bhattacharyya_instead_of_euclidean_distance_for_assignments" value="$(arg use_bhattacharyya_instead_of_euclidean_distance_for_assignments)"/>
        <param name="max_correspondence_distance_for_assignments" value="$(arg max_correspondence_distance_for_assignments)"/>
        <param name="distance_threshold_for_hypotheses_merge" value="$(arg distance_threshold_for_hypotheses_merge)"/>
        <param name="kalman_process_noise_covariance_per_second" value="$(arg kalman_process_noise_covariance_per_second)"/>
        <param name="maximally_allowed_hypothesis_covariance" value="$(arg maximally_allowed_hypothesis_covariance)"/>

        <param name="hypothesis_age_threshold_in_seconds" value="$(arg hypothesis_age_threshold_in_seconds)"/>
        <param name="number_of_assignments_threshold" value="$(arg number_of_assignments_threshold)"/>
        <param name="time_offset_for_predictions" value="$(arg time_offset_for_predictions)"/>
    </node>

</launch>
